@import './styles/settings'; 
@import './styles/genericStyle'; 
@import './styles/standardComponents'; 
@import './styles/checkbox';

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, html {
    height: 100%;
    margin: 0;
  }

  
  